<!DOCTYPE html>
<html lang="en" class="no-js">
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/component.css"/>
    <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body class="demo-1">
<div id="container" class="container intro-effect-push">
    <header class="header">
        <div class="bg-img"><img src="/static/img/background.jpg" alt="Background Image"/></div>
        <div class="title">
            <nav class="codrops-demos">
                <a href={% url 'blogapp.views.index' %}>Home</a>
                <a href={% url 'blogapp.views.about' %}>About</a>
                <a href="/feed/">Feed</a>
            </nav>
            <h1>Space</h1>

            <p class="subline">A blog about</p>
        </div>
    </header>
    <button class="trigger"></button>
    <div class="title">
        <nav class="codrops-demos">
            <a href={% url 'blogapp.views.index' %}>Home</a>
            <a href={% url 'blogapp.views.about' %}>About</a>
            <a href="/feed/">Feed</a>
        </nav>
        <h1>Space</h1>
    </div>
    <article class="content">
        <div>
            {% block content %}
                {% for post in posts %}
                    <div class="post">
                        <h2>
                            <a href="{{ post.get_absolute_url }}">
                                {{ post.title }}
                            </a>
                        </h2>

                        <p>{{ post.teaser }}</p>

                        <p><a href="{{ post.get_absolute_url }}" title="View this post">Read full post</a></p>

                        <p>
                            Posted on
                            <time datetime="{{ post.created|date:"c" }}">
                                {{ post.created|date }}
                            </time>
                        </p>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </article>
    <footer id="footer">
        <div class="fb-share">
            <a class="fill-div" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php" target="_blank"><img
                    src="/static/img/icons/facebook-icon.png"></a>
        </div>
        <div class="twitter-share">
            <a class="fill-div" title="Share on Twitter" href="https://twitter.com/share" target="_blank"><img
                    src="/static/img/icons/Twitter_logo_white.png"></a>
        </div>
        <div class="google-share">
            <a class="fill-div" title="Share on Google+" href="https://plus.google.com/share" target="_blank"><img
                    src="/static/img/icons/google-icon.png"></a>
        </div>
        <div class="rss-share">
            <a class="fill-div" title="RSS/Atom" href="/feed/" target="_blank"><img src="/static/img/icons/feed-icon.png"></a>
        </div>
        <div class="mail-contact">
            <a class="fill-div" title="Contact" href="mailto:someone@example.com" target="_blank"><img
                    src="/static/img/icons/mail-icon.png"></a>
        </div>
    </footer>
</div>
<!-- /container -->
<script src="/static/js/plugins.js"></script>
<script>
    (function () {

        // detect if IE : from http://stackoverflow.com/a/16657946
        var ie = (function () {
            var undef, rv = -1; // Return value assumes failure.
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            var trident = ua.indexOf('Trident/');

            if (msie > 0) {
                // IE 10 or older => return version number
                rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            } else if (trident > 0) {
                // IE 11 (or newer) => return version number
                var rvNum = ua.indexOf('rv:');
                rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
            }

            return ((rv > -1) ? rv : undef);
        }());


        // disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179
        // left: 37, up: 38, right: 39, down: 40,
        // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
        var keys = [32, 37, 38, 39, 40], wheelIter = 0;

        function preventDefault(e) {
            e = e || window.event;
            if (e.preventDefault)
                e.preventDefault();
            e.returnValue = false;
        }

        function keydown(e) {
            for (var i = keys.length; i--;) {
                if (e.keyCode === keys[i]) {
                    preventDefault(e);
                    return;
                }
            }
        }

        function touchmove(e) {
            preventDefault(e);
        }

        function wheel(e) {
            // for IE
            //if( ie ) {
            //preventDefault(e);
            //}
        }

        function disable_scroll() {
            window.onmousewheel = document.onmousewheel = wheel;
            document.onkeydown = keydown;
            document.body.ontouchmove = touchmove;
        }

        function enable_scroll() {
            window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;
        }

        var docElem = window.document.documentElement,
                scrollVal,
                isRevealed,
                noscroll,
                isAnimating,
                container = document.getElementById('container'),
                trigger = container.querySelector('button.trigger');

        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }

        function scrollPage() {
            scrollVal = scrollY();

            if (noscroll && !ie) {
                if (scrollVal < 0) return false;
                // keep it that way
                window.scrollTo(0, 0);
            }

            if (classie.has(container, 'notrans')) {
                classie.remove(container, 'notrans');
                return false;
            }

            if (isAnimating) {
                return false;
            }

            if (scrollVal <= 0 && isRevealed) {
                toggle(0);
            }
            else if (scrollVal > 0 && !isRevealed) {
                toggle(1);
            }
        }

        function toggle(reveal) {
            isAnimating = true;

            if (reveal) {
                classie.add(container, 'modify');
            }
            else {
                noscroll = true;
                disable_scroll();
                classie.remove(container, 'modify');
            }

            // simulating the end of the transition:
            setTimeout(function () {
                isRevealed = !isRevealed;
                isAnimating = false;
                if (reveal) {
                    noscroll = false;
                    enable_scroll();
                }
            }, 1200);
        }

        // refreshing the page...
        var pageScroll = scrollY();
        noscroll = pageScroll === 0;

        disable_scroll();

        if (pageScroll) {
            isRevealed = true;
            classie.add(container, 'notrans');
            classie.add(container, 'modify');
        }

        window.addEventListener('scroll', scrollPage);
        trigger.addEventListener('click', function () {
            toggle('reveal');
        });
    })();
</script>
</body>
</html>